body {
    background-color: #BDAEF2;
}

.alerta-personalizada {
    background-color: #8857f2;
    color: rgb(0, 0, 0);
    border: none;
}
.titulo-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.titulo-eczar {
    font-family: "Eczar", serif;
    font-weight: 700;
}

.titulo-worksans {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
}